@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #0f1d2c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navibar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
    transition: .5s;
}

.navibar a:hover,
.navibar a.active {
    color: #00abf0;
}

.home {
    height: 100vh;
    background: url('home2.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;

}

.home-content h1 {
    position: relative;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}


.home-content h3 {
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin: 20px 0 40px;

}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;

}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #00abf0;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}

.home-sci a:hover {
    color: #081b29;
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.homi-imgHover {
    position: absolute;
    top: 0;
    right: 30px;
    width: 500px;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: maniActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.homi-imgHover:hover {
    background: #081b29;
    opacity: .8;
}

.homi-imgHover::after {
    content: '';
    position: absolute;
    top: 20%;
    right: 0;
    width: 100%;
    height: 80%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.homee {
    height: 100vh;
    background: url('homi.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.homee-content {
    max-width: 600px;

}


.homee-content h1 {
    position: relative;
    color: #00abf0;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
}

.homee-content h3 {
    position: relative;
    font-size: 22px;
    font-weight: 700;
    
}

.pic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

}

.homeee {
    height: 150vh;
    background: url('homi.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
}


.homeee-content {
    max-width: 600px;

}

.homeee-content h1 {
    position: relative;
    color: #00abf0;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
}

.homeee-content h2 {
    position: relative;
    color: #ededed;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .inner {
    padding-top: 6px;
  }

 .headerr {
    text-align: center;
    color: #00abf0;
    padding: 1rem;
    position: relative;
 }

 .headerr h1 {
    position: relative;
    color: #00abf0;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 30px;
 }

 /*.headerr:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%) ;
    height: 4px;
    width: 100px;
    background-color: #00abf0;
    border-radius: 2px;
 }*/

 .containerr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 1 rem;
    padding: 3rem 80px;
    font-size: 1,2rem;
 }

/*kEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

.skill-box {
    pad: 1rem;
    color: #b9cce7;
    cursor: pointer;
}

.skill-box:hover > .skill-title:after, .skill-box:hover > .skill-title:before {
    width: 35px;
}

.skill-box:hover .img {
    transform: translateY(-10px);
}

.skill-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.skill-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #00abf0;
    transition: .5s;
}

.skill-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #00abf0;
    transition: .5s;
}



.img {
    width: 90px;
    height: 90px;
    position: relative;
    border-radius: 45px;
    background-color: #00abf0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 90px;
    background-color: rgba(100, 100, 100, 0.3);
    border-radius: 45px 0 0 45px;

}

.skill-title h3 {
    color: #00abf0;
    margin-top: 0.5rem;
}

.skill-icon {
    width: 50px;
    z-index: 2;
}

.homy {
    height: 130vh;
    background: url('homi.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}

form {
    background: rgba(29, 41, 51, 0.8);
    width: 640px;
    margin: 50px auto;
    max-width: 97%;
    border-radius: 4px;
    padding: 55px 30px;
}

form .title h2 {
    letter-spacing: 4px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half {
    display: flex;
    justify-content: space-between;
}

form .half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

form .half .item input {
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    width: 100%;
    height: 44px;
    background: transparent;
    font-size: 17px;
    color: white
}

form .full {
    margin-bottom: 24px;

}

form .full textarea {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    width: 100%;
    height: 200px;
    font-size: 17px;
    color: white;
}

form .action {
    margin-bottom: 32px;
}

form .action input {
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    color: white;
    height: 44px;
    letter-spacing: 2px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .action input[type="submit"] {
    background: white;
    color: black;
}

@media (max-width: 480px) {
    form .half {
        flex-direction: column;
    }
    form .half .item {
        width: 100%;
    }
    form .action {
        display: flex;
        flex-direction: column;
    }
    form .action input {
        margin-bottom: 10px;
        width: 100%;
    }
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover, form .icons a:hover {
    background: rgba(255,255,255,0.075);
}


@media screen and (max-width: 990px) {
    .containerr {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width: 650px) {
    .containerr {
        grid-template-columns: repeat(2, 1fr);
    }
}

@keyframes maniActiveHover {
    100% {
        pointer-events: auto;
    }
}